<h1 class="text-center page-header">Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= link_to message.id, user_message_path(current_user, message) %></li>
  <% end %>
</ul>

<%= link_to "New message", new_user_message_path %>
