<h1 class="text-center page-header">Messages</h1>

<ul id="messages-list">
  <% @messages.each do |message| %>
    <%= link_to user_message_path(current_user, message) do %>
      <li>
        To:   <%= message.to %><br>
        Text: <%= message.body %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New message", new_user_message_path %>
