<h1>Address Book</h1>

<% if @contacts.any? %>

    <ul>
      <% @contacts.each do |contact| %>
        <li> <%= link_to contact.name, user_contact_path(current_user, contact) %></li>
      <% end %>
    </ul>

<% else %>


  <h2>There are no contacts at this time.</h2>

<% end %>

<%= link_to 'Add Contact', new_user_contact_path(current_user), class: 'btn btn-info' %>

<%= link_to 'Send SMS', new_user_message_path(current_user), class: 'btn btn-success' %>
